.FormContainer {
  background-color: #fafafa;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.Divider {
  margin-top: 0;
}

.formContainer {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 8rem;
}

.Title {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.BookInput {
  width: 14.5rem;
  height: 2.813rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.CategoryInput {
  width: 14.813rem;
  height: 2.813rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.FormSubmit {
  width: 11.5rem;
  height: 2.813rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: #fff;
}
